.subscribe-button {
  background: rgb(204 0, 0);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;

  transition: opacity 0.15s;
}

.subscribe-button:hover {
  opacity: 0.8;
}

.subscribe-button:active {
  opacity: 0.3;
}

.join-button {
  background-color: white;
  color: rgb(21, 157, 225);
  border-radius: 2px;
  cursor: pointer;
  border-color: rgb(21, 157, 225);
  border-style: solid;
  border-width: 1px;
  margin-right: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top;

  transition: background-color 0.15s,
    color 0.15s;
}

.join-button:hover {
  background-color: rgb(6, 95, 212);
  color: white;
}

.join-button:active {
  opacity: 0.7;
}

.tweet-button {
  background-color: rgb(29, 155, 240);
  border: none;
  border-radius: 18px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  vertical-align: top;

  transition: box-shadow 0.15s,
    opacity 0.15s;
}

.tweet-button:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.tweet-button:active {
  opacity: 0.7;
}